body {
  padding: 0;
  margin: 0;
}



.btn_responsive{
  color: #fff !important;
  text-transform: uppercase;
  padding: 7px;
  border-radius: 50px;
  display: inline-block;
  border:none;
  }

.btn_responsive:hover {
  letter-spacing: 1px;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
    }

.center-div
    {
      margin: 0 auto;
      width: 1200px;
      height: 800px;
      background-color: #fff;
      border-radius: 3px;
    }

#map,
body,
html {
  height: 100%;
}

#map2 {
  width: 80%;
  height: 600px;
  margin-top: 10px;
}

#map3 {
  width: 80%;
  height: 600px;
  margin-top: 10px;
}

.leaflet-popup-content {
  text-align: center;
}

.custom-popup .leaflet-popup-content-wrapper {
  background:#000000;
  color:#fff;
  font-size:12px;
  line-height:20px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:0px;
  height:0px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-top:10px solid #2c3e50;
  }

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
}

