<!DOCTYPE html>
<html>
<head>
  <!-- Import Vega 5 & Vega-Lite 3 (does not have to be from CDN) -->
  <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@3"></script>
  <!-- Import vega-embed -->
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@4"></script>
  <!--table-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
</head>
<body>

<div id="vis"></div>
<div id="vis2"></div>
 <!--table-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js" charset="utf-8"></script>
 <script src="https://packet-clearing-house.github.io/maptable/maptable.min.js"></script>
<div id="vizContainer" class='container'></div>

<script>
    var viz = d3.maptable('#vizContainer')
    .csv('moneyfreedomgen.csv')
    .columns({
      position: {
        filterMethod: 'dropdown',
      },
      office: {
        filterMethod: 'dropdown',
      },
      start_date: {
        filterMethod: 'compare',
        filterInputType: 'date',
        dataParse: function(val) {
          return new Date(val).getTime();
        }
      },
      salary: {
        filterMethod: 'compare',
        filterInputType: 'number',
        dataParse: function(val) {
          return parseInt(val.replace(/[^0-9]+/g, ''), 10);
        }
      },
      links: {
        virtual: function(d) {
          return '<a href="#' + d.extn+ '">Link</a>';
        }
      }
    })
    .filters({
      show: ['Country','HappinessRank','EconomyGDPperCapita','Freedom','Generosity']
    })
    .table({
      show: ['Country','HappinessRank','EconomyGDPperCapita','Freedom','Generosity']
    })
    .render();
</script>

<script type="text/javascript">
  var spec = "https://gist.githubusercontent.com/ksan1510/68b4fb83c69da9199fe21d3ca7d9bf9d/raw/206d24dcd5d3f8cc18c785a8bfe1df2ebdff3bef/happycorrvega.json";
  vegaEmbed('#vis', spec).then(function(result) {
    // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
  }).catch(console.error);
</script>
<script type="text/javascript">
    var spec = "https://gist.githubusercontent.com/ksan1510/ab2332d381aa97d130450755924d215b/raw/1eb25e81cf3c8f1c01ba71378bfae6b5a92c4a0e/happyscoreavg.json";
    vegaEmbed('#vis2', spec).then(function(result) {
      // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
    }).catch(console.error);
  </script>

</body>
</html>